body {
  background-color: #000;
  font-family: Urbanist, sans-serif;
  color: #fff;
  font-size: 26px;
  line-height: 130%;
  font-weight: 300;
}

.main-screen {
  position: static;
  display: block;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__wrapper {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: NewYork, sans-serif;
  font-size: 100px;
  line-height: 90%;
  font-weight: 400;
}

.social__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #c7fffc;
}

.social__button.insta {
  background-color: #f6ffb2;
}

.social__button.facebook {
  background-color: #ffddc2;
}

.social__button.behance {
  position: relative;
  background-color: #b7fff2;
}

.social__text {
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000;
  line-height: 100%;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.link-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 39px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.main__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.first-desc {
  max-width: 9em;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 120%;
  font-weight: 300;
}

.main__screen_cont {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bg__lines {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.line {
  border-left: 1px solid #6d6d6d;
}

.line.added {
  display: block;
}

.line.added2 {
  display: none;
}

.main_screen__container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: transparent;
}

.nav-link {
  color: #fff;
  font-size: 18px;
}

.nav-link.last {
  padding-right: 0px;
}

.lottie {
  position: static;
  background-color: #000;
}

.section-2 {
  height: 100vh;
}

.lottie-animation {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.bg-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 750px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-3d {
  position: relative;
  overflow: visible;
  width: 75%;
  height: 750px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.gradient-main_page {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 150px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(14%, #000), color-stop(93%, hsla(0, 0%, 100%, 0)));
  background-image: linear-gradient(0deg, #000 14%, hsla(0, 0%, 100%, 0) 93%);
}

.services {
  margin-top: -145px;
}

.service-item {
  display: -ms-grid;
  display: grid;
  margin-bottom: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.service-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: NewYork, sans-serif;
  font-size: 75px;
  line-height: 100%;
  font-weight: 400;
}

.service-line {
  width: 75%;
  height: 1px;
  margin-right: 35px;
  margin-left: 35px;
  background-color: #6d6d6d;
}

.service-description {
  max-width: 20em;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 120%;
}

.service-wrap {
  margin-top: 70px;
}

.menu1 {
  max-width: 85%;
}

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about {
  overflow: hidden;
  margin-top: 165px;
}

.heading-big {
  font-family: NewYork, sans-serif;
  font-size: 155px;
  line-height: 100%;
  font-weight: 400;
}

.heading-rotate {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cris-photo {
  max-width: 600px;
  margin-top: -45px;
}

.about-desc {
  margin-bottom: 0px;
  padding-top: 175px;
  padding-left: 35px;
}

.portfolio {
  overflow: hidden;
  margin-top: 165px;
}

.portfolio-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 155px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.portfolio-title {
  margin-top: 0px;
  margin-right: 0px;
  font-family: NewYork, sans-serif;
  color: #fff;
  font-size: 45px;
  line-height: 100%;
  font-weight: 400;
}

.portfolio-image {
  max-width: 650px;
}

.portfolio-wrap {
  margin-top: 55px;
}

.title-wrap {
  position: relative;
  margin-right: 35px;
}

.hover-line {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 16%;
  height: 1px;
  background-color: #fff;
}

.section-3 {
  height: 200vh;
}

.contacts {
  margin-top: 75px;
}

.email {
  max-width: 7em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 100px;
  line-height: 100%;
  font-weight: 500;
}

.email-wrap {
  max-width: 26.5em;
  text-decoration: none;
}

.line-email {
  height: 3px;
  margin-top: -8px;
  background-color: #fff;
}

.footer_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 125px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-item {
  margin-right: 35px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  font-style: italic;
}

.footer-item.last {
  margin-right: 9px;
}

.footer-item.last:hover {
  font-style: normal;
}

.footer-item.year:hover {
  font-style: normal;
}

.footer-items_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-filter 250ms cubic-bezier(.25, .46, .45, .94);
  transition: -webkit-filter 250ms cubic-bezier(.25, .46, .45, .94);
  transition: filter 250ms cubic-bezier(.25, .46, .45, .94);
  transition: filter 250ms cubic-bezier(.25, .46, .45, .94), -webkit-filter 250ms cubic-bezier(.25, .46, .45, .94);
  text-decoration: none;
}

.copyright:hover {
  -webkit-filter: brightness(61%);
  filter: brightness(61%);
}

.snipp {
  height: 37px;
}

.logo {
  height: 30px;
  margin-top: 20px;
}

.mobile-photo {
  display: none;
}

.video {
  margin-top: -140px;
}

.privacy {
  margin-top: 120px;
}

.heading-2 {
  margin-top: 35px;
  margin-bottom: 25px;
}

.text {
  max-width: 75%;
  font-size: 22px;
  line-height: 125%;
}

.bold-text {
  font-weight: 600;
}

.link {
  color: #fff;
}

.link-2 {
  color: #fff;
}

@media screen and (min-width: 1440px) {
  .main__wrapper {
    margin-left: 225px;
  }

  .main__title {
    max-width: 9em;
  }

  .link-block {
    margin-right: 74px;
  }

  .first-desc {
    max-width: 9em;
  }

  .line.added {
    display: block;
  }

  .line.added2 {
    display: block;
  }

  .main_screen__container {
    max-width: 1340px;
  }

  .container {
    max-width: 1340px;
  }

  .service-item {
    -ms-grid-columns: 0.5fr 0.25fr 0.5fr;
    grid-template-columns: 0.5fr 0.25fr 0.5fr;
  }

  .about_wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-desc {
    max-width: 18em;
  }

  .portfolio-item {
    margin-right: 150px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .footer-item.year {
    margin-left: 40px;
  }

  .container-2 {
    max-width: 1340px;
  }

  .footer-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .main__title {
    font-size: 80px;
  }

  .link-block {
    margin-right: 33px;
  }

  .nav-link {
    background-color: #000;
  }

  .bg-video {
    height: 550px;
  }

  .menu-3d {
    height: 550px;
  }

  .service-item {
    -ms-grid-columns: 1.5fr 1fr 1.25fr;
    grid-template-columns: 1.5fr 1fr 1.25fr;
  }

  .service-line {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }

  .cris-photo {
    max-width: 400px;
  }

  .portfolio-title {
    font-size: 40px;
  }

  .portfolio-image {
    max-width: 450px;
  }

  .footer-item {
    font-size: 22px;
  }

  .footer-item.last {
    font-size: 22px;
  }

  .nav-menu {
    background-color: #000;
  }

  .icon {
    font-size: 35px;
  }

  .menu-button.w--open {
    background-color: #303030;
  }

  .text {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .first-desc {
    display: none;
  }

  .main_screen__container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-link {
    background-color: #000;
  }

  .bg-video {
    display: none;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .service-item {
    -ms-grid-columns: 1.5fr 0.5fr 1.25fr;
    grid-template-columns: 1.5fr 0.5fr 1.25fr;
  }

  .service-name {
    font-size: 55px;
  }

  .service-description {
    font-size: 16px;
  }

  .about {
    margin-top: 85px;
  }

  .about_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-desc {
    padding-top: 25px;
    padding-left: 0px;
  }

  .portfolio {
    margin-top: 85px;
  }

  .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .title-wrap {
    margin-bottom: 10px;
  }

  .email {
    font-size: 75px;
  }

  .footer_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .snipp {
    height: 33px;
  }

  .container-2 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-right {
    margin-top: 25px;
  }

  .mobile-photo {
    display: block;
  }

  .icon {
    font-size: 35px;
  }

  .menu-button.w--open {
    background-color: #333;
  }
}

@media screen and (max-width: 479px) {
  .main-screen {
    height: auto;
  }

  .main__wrapper {
    margin-top: 145px;
  }

  .main__title {
    font-size: 55px;
  }

  .link-block {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .main__social {
    margin-top: 45px;
    padding-bottom: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .first-desc {
    display: none;
  }

  .bg__lines {
    height: auto;
  }

  .main_screen__container {
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-link {
    background-color: #000;
  }

  .bg-video {
    display: none;
  }

  .menu-3d {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }

  .gradient-main_page {
    display: none;
    height: 90px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(16%, #000), color-stop(93%, hsla(0, 0%, 100%, 0)));
    background-image: linear-gradient(0deg, #000 16%, hsla(0, 0%, 100%, 0) 93%);
  }

  .services {
    margin-top: -50px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .service-item {
    margin-bottom: 50px;
    grid-row-gap: 8px;
    -ms-grid-columns: 1.5fr;
    grid-template-columns: 1.5fr;
  }

  .service-item.is--last {
    margin-bottom: 0px;
  }

  .service-description {
    font-size: 18px;
  }

  .service-wrap {
    margin-top: 55px;
  }

  .about {
    margin-top: 85px;
  }

  .heading-big {
    font-size: 90px;
  }

  .about_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cris-photo {
    max-width: 100%;
  }

  .about-desc {
    padding-top: 30px;
    padding-left: 0px;
  }

  .portfolio {
    margin-top: 85px;
  }

  .portfolio-item {
    margin-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .portfolio-title {
    margin-bottom: 15px;
  }

  .portfolio-image {
    max-width: 100%;
  }

  .email {
    font-size: 42px;
  }

  .line-email {
    margin-top: 0px;
  }

  .footer_wrap {
    margin-top: 85px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-item {
    margin-right: 0px;
  }

  .footer-items_wrap {
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .snipp {
    height: 33px;
  }

  .container-2 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .mobile-photo {
    display: block;
    margin-top: 25px;
  }

  .icon {
    font-size: 35px;
  }

  .menu-button {
    background-color: rgba(204, 201, 201, 0);
  }

  .menu-button.w--open {
    background-color: #252525;
  }

  .video {
    margin-top: 0px;
  }

  .text {
    max-width: 100%;
    font-size: 22px;
    line-height: 120%;
  }
}

@media screen and (min-width: 1440px) {
  #w-node-_229208db-47f8-b52e-3a03-96335bb9164c-26d69b0c {
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-aa4c93f4-30f5-5177-00bf-f83a5a566892-26d69b0c {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-a9183450-007e-029d-10f2-759842ccad98-26d69b0c {
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-_84bb02a7-2cb0-4a35-704b-033dc6a84033-26d69b0c {
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_229208db-47f8-b52e-3a03-96335bb9164c-26d69b0c {
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

@media screen and (max-width: 767px) {
  #w-node-a9183450-007e-029d-10f2-759842ccad98-26d69b0c {
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-_84bb02a7-2cb0-4a35-704b-033dc6a84033-26d69b0c {
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_229208db-47f8-b52e-3a03-96335bb9164c-26d69b0c {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-a9183450-007e-029d-10f2-759842ccad98-26d69b0c {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_84bb02a7-2cb0-4a35-704b-033dc6a84033-26d69b0c {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@font-face {
  font-family: 'NewYork';
  src: url('../fonts/NewYork-PERSONAL-USE.woff2') format('woff2'), url('../fonts/NewYork-PERSONAL-USE.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}